.alert-location {
    position: absolute;
    top: 74px;
    right: 15px;
    width: 330px;
}

.alert-btn {
    font-weight: bold;
    font-size: 30px;
}

.alert-msg {
    margin-right: 25px;
}

.alert-ic {
    cursor: pointer;
    font-size: 20px;
}